{% extends "layout.html.jinja" %}

{% block middle %}
    <h2>{{productName}}</h2>
    {#<div>{{ product }}</div>#}
    <table class="table tbable-stripped" id="opinions">

    </table>
{% endblock middle %}

{% block scripts %}

{% endblock scripts %}

